<!DOCTYPE html>
<html lang="zh-cn" onselectstart="return false" oncontextmenu="self.event.returnValue=false">

<head>
    <title>江流远 - 关于</title>
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://unpkg.com/@fontsource/istok-web@5.0.17/index.css">
    <meta name="description" content="江流远科技有限公司提供Java、小程序、技术方案、重构、数仓搭建、数据清洗、网络安全等。">
    <meta name="keywords" content="江流远科技有限公司,关于">
    <meta name="ptype" content="post">
</head>

<body>
    <div class="header">
        <div class="right">
            <a href="/" class="jumpload" ptype="home">首页</a>
            <a href="/about.html" class="jumpload" ptype="post">关于</a>
        </div>
    </div>
    <div class="main">
        <div class="headimg">
            <span>
                关于
            </span>
        </div>
        <div class="post">
            <span>本团队具备雄厚的技术人才力量，均为工作10年及以上经验丰富开发，可以高速、高效完成需求。</span>
        </div>
    </div>
    <div class="fo oter">

    </div>
    <script src="./app.js"></script>
</body>

</html>